nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 60px;
    background-color: black;
  }
  .nav-links{
    display: flex;
    gap: 20px;
  }
  a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition-duration: .2s !important;
  }
  
  a.active {
    font-weight: 600;
    color: var(--primary-color) !important;
  }
  a.active::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--primary-color);
  }
  a::after{
  content: '';
  position: absolute;
  width: 100%;
  bottom: -5px;
  left: 0;
  background-color: var(--primary-color);
  }
  
  a:hover::after{
  height: 2px;
  }

  .icon-btn{
    padding: 4px;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 0 0 10px;
    &:hover{
      background-color: var(--primary-color);
    }
    &:active{
      background-color: grey;
    }
  }


  .new-player-form{
    display: flex;
    gap: 20px;
  }

  .alert-btn{
    background-color: red;
    color: black;
    padding: 6px 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:active{
      background-color: green;
    }
  }

  .red{
    background-color: red !important;
  }
  .green{
    background-color: green;
  }

  /* Modal.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}


.modal p, .modal h2{ 
  color: black;
}

.modal button {
  margin-right: 10px;
}

.table-container{
  overflow-x: auto;
  width: 100%;
}

table{
  border-collapse: collapse;
}

th, td{
  border: 1px solid;
  padding: 16px;
  text-align: left;
}
.details{
  cursor: pointer;
}
.match-form{
  display: flex;
  gap: 12px;
  align-items: start;
  width: 100%;
}
.match-form button{
  margin-top: 10px;
}
.select-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.select-container select{
  color: black;
}

.match-form{
  display: flex;
  flex-direction: column;
}
.match-form input[type="text"]{
  width: 80px;
}


strong{
  color: black;
}

.info{
  display: flex;
  justify-content: space-between;
}

@media (width > 768px) {
  .table-container, table{
    width: 100%;
  }
  .match-form{
    flex-direction: row;
    align-items: end;
    justify-content: center;
    gap: 20px;
  }
}
@media (width < 768px) {
  table{
    font-size: 12px;
    width: 100%;
  }
  th, td{
    padding: 10px 4px;
  }
}


